:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}


@media print {
  body * {
    visibility: hidden;
  }

  #invoiceContainer,
  #invoiceContainer * {
    visibility: visible;
  }

  #invoiceContainer {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }

  /* Optional: Hide buttons or inputs during print */
  button,
  input[type="checkbox"],
  input[type="text"],
  input[type="date"] {
    display: none;
  }

  /* Optional: Remove scrollbars if any */
  html,
  body {
    overflow: visible !important;
  }

  /* Optional: Force page breaks (if invoice is long) */
  .page-break {
    page-break-after: always;
  }
}